main {
  min-height: 50vh;
  padding: 0 60px;
}

main .contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

main .contact li {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .contact li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

main .contact li .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #45aaf2;
  text-align: center;
  line-height: 1.9;
  color: white;
  opacity: 0.8;
}

.intro {
  padding-top: 20px;
}

.intro .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.intro .content {
  display: unset;
  font-size: 14px;
  line-height: 1.2;
  margin-bottom: 20px;
  list-style: disc outside none;
}

.intro .content li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.intro .content li:last-child {
  margin-bottom: 20px;
}
