main {
  min-height: 50vh;
  padding: 0 60px;
}

main .contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-bottom: 20px;
}

main .contact li {
  width: 100%;
  display: flex;
  justify-content: center;
}

main .contact li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

main .contact li .icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #45aaf2;
  text-align: center;
  line-height: 1.9;
  color: white;
  opacity: 0.8;
}

.intro {
  padding-top: 20px;
}

.intro .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.intro .content {
  font-size: 14px;
  line-height: 1.2;
  list-style: disc outside none;
  padding-bottom: 30px;
}

.intro .content li {
  margin-bottom: 10px;
  margin-left: 20px;
}

.intro .content li:last-child {
  margin-bottom: 20px;
}

.intro .projects {
  min-height: 200px;
  margin-bottom: 30px;
}

.intro .projects .project {
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
}

.intro .projects .project:last-child {
  margin-bottom: 0;
}

.intro .projects .project a {
  display: grid;
  grid-template-columns: 30% 70%;
  align-items: center;
  padding: 20px 0;
}

.intro .projects .project a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.intro .projects .project .project__col:first-child .wetube-logo {
  margin: 0 auto;
  width: 50%;
  height: 80px;
  background-color: red;
  border-radius: 10px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  line-height: 2.5;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.25),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

.intro .projects .project .project__col:last-child .project__title {
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 2px;
}

.intro .projects .project .project__col:last-child .project__contents {
  font-size: 13px;
  line-height: 1.2;
  margin: 20px 0;
}

.intro .projects .project .project__col:last-child .project__contents h6 {
  margin-top: 10px;
  margin-bottom: 5px;
}

.intro .projects .project .project__col:last-child .project__contents ul {
  list-style: disc outside none;
}

.intro .projects .project .project__col:last-child .project__contents ul li {
  margin-left: 20px;
}

.skills {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.skill {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 15px -8px rgba(0, 0, 0, 0.25),
    0 8px 10px -5px rgba(0, 0, 0, 0.2);
  margin-right: 10px;
  text-align: center;
}

.skill img {
  width: 30px;
  height: 30px;
  margin-bottom: 5px;
}

.skill span{
  font-size: 1.2rem;
}

.skill .skill__name{
  font-weight: 700;
  margin-bottom: 5px;
}

.skill .skill__level{
  font-size: 1rem;
  opacity: 0.7;
}

.intro .projects .project .project__col:last-child span {
  font-size: 12px;
  font-weight: 500;
}

#yunflix {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: 600;
  color: red;
  text-shadow: 1px 2px 3px rgba(178, 190, 195, 0.7), 0px 1px 4px #fff;
}

#yunflix .yunflix__left {
  transform: translateY(5px) skew(0deg, -2deg);
}

#yunflix .yunflix__right {
  transform: translateY(5px) skew(0deg, 2deg);
}
